# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Databases & Storage
*.db
*.sqlite3
uploads/
results/

# Logs
*.log

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/

# OCR / AI Models (Local cache)
.paddlex/
inference/
